<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if  !logged_in?%>
      <a href="<%= new_session_url %>">Sign in!</a>
    <% end %>
    
    <% if flash.now[:errors] %>
      <% flash.now[:errors].each do |error|%>
        <%= error %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
